

<div class="footer-widget">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>GIỚI THIỆU LAPTOP247</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Giới thiệu LAPTOP247</a></li>
						<li><a href="#">Giới thiệu công ty</a></li>
						<li><a href="#">Liên hệ hợp tác kinh doanh</a></li>
						<li><a href="#">Thông tin tuyển dụng</a></li>
						<li><a href="#">Tin công nghệ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Hỗ trợ khách hàng</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Tra cứu đơn hàng</a></li>
						<li><a href="#">Hướng dẫn mua hàng trực tuyến</a></li>
						<li><a href="#">Hướng dẫn thanh toán</a></li>
						<li><a href="#">Hướng dẫn mua hàng trả góp</a></li>
						<li><a href="#">Góp ý, Khiếu Nại</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Chính sách chung</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Bảo mật thông tin khách hàng</a></li>
						<li><a href="#">Chính sách cho doanh nghiệp</a></li>
						<li><a href="#">Chính sách bảo hành</a></li>
						<li><a href="#">Chính sách giao hàng</a></li>
						<li><a href="#">Chính sách, quy định chung</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="single-widget">
					<h2>Thông tin khuyến mại</h2>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#">Sản phẩm mới</a></li>
						<li><a href="#">Sản phẩm khuyến mại</a></li>
						<li><a href="#">Thông tin khuyến mại</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
				<div class="single-widget">
					<h2>Liên hệ với chúng tôi</h2>
					<form action="#" class="searchform">
						<input type="text" placeholder="Nhập email của bạn" />
						<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<p class="pull-left">Copyright © 2023 laptop247. All rights reserved.</p>
		</div>
	</div>
</div>