<div class="side-nav-inner">
    <ul class="side-nav-menu scrollable">
        <li class="nav-item dropdown open">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-dashboard"></i>
                </span>
                <span class="title">Dashboard</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li class="active">
                    <a href="index.html">Trang chủ</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-appstore"></i>
                </span>
                <span class="title">Cửa hàng</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-area="Admin" asp-controller="ProductAdmin" asp-action="Index">Quản lý sản phẩm</a>
                </li>
                <li>
                    <a href="#">Quản lý ưu đãi</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-build"></i>
                </span>
                <span class="title">Tác vụ</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Quản lý danh mục</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Brand" asp-action="Index">Quản lý Thương hiệu</a>
                </li>

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-hdd"></i>
                </span>
                <span class="title">Hệ thống</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="accordion.html">Quản lý tài khoản</a>
                </li>
                <li>
                    <a href="carousel.html">Quản lý truy cập</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-form"></i>
                </span>
                <span class="title">Quản lý page</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="form-elements.html">Quản lý blogs</a>
                </li>
                <li>
                    <a href="form-layouts.html">Quản lý bảo hành</a>
                </li>
                <li>
                    <a href="form-validation.html">Quản lý liên lạc</a>
                </li>
            </ul>
        </li>

    </ul>
</div>